:root {
  --black: #000;
  --gray: #7e7e7e;
  --white: #fff;
}

.padding-box_large {
  padding-left: 50px;
  padding-right: 50px;
}

.padding-box_small {
  padding-left: 24px;
  padding-right: 24px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-155 {
  margin-bottom: 155px;
}

.link-animated {
  transition: all 0.3s ease;
}

.link-animated:hover,
.link-animated:active,
.link-animated:visited {
  color: var(--gray);
}
